<ion-header>

  <ion-navbar color="secondary">
    <ion-title>{{grievanceType | titlecase}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Details</ion-label>
      <ion-textarea rows="3" [(ngModel)]="grievanceText"></ion-textarea>
    </ion-item>
    <button *ngIf="grievanceType != 'suggestion'" ion-button outline clear full (click)="takePicture()"><ion-icon name="add"></ion-icon>&nbsp;Add Image</button>
    <ion-card *ngIf="imageUri">
        <img [src]="imageUri"/>
    </ion-card>
  </ion-list>
</ion-content>
<ion-footer>
  <button class="submit-button" ion-button full (click)="submitGrivance()">Submit</button>
</ion-footer>