<ion-header>

  <ion-navbar>
    <ion-title>Payments Demo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card padding class="align-center">
    <img src="assets/imgs/razorpay-logo.png" alt="Razorpay Logo">
    <ion-card-content>
      <ion-row>
        <ion-col><button ion-button block color="primary" (click)="onViewDetails()">View Details</button></ion-col>
        <ion-col><button ion-button block color="secondary" (click)="onStartPayment()">View Demo</button></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content> 