<ion-header>

  <ion-navbar color="secondary">
    <ion-title>{{grievance?.Date}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <img *ngIf="grievance?.ImageUrl" src={{getImageUrl()}}> 
    <ion-card-title padding>
      {{grievance?.Type | titlecase }}<hr>
      <p>{{ grievance?.Text }}</p>
      <ion-row>
        <ion-col text-center><button ion-button clear color="danger" (click)="deleteGrievance()" icon-left><ion-icon name="trash"></ion-icon>Delete</button></ion-col>
        <ion-col text-center><button ion-button clear color="orange" (click)="escalateGrievance()" icon-left><ion-icon name="md-megaphone"></ion-icon>Escalate</button></ion-col>
      </ion-row>
    </ion-card-title>
  </ion-card>

</ion-content>
