<ion-header>

  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>LTS Grievances</ion-title>
  </ion-navbar>
  <ion-toolbar color="primary">
    <ion-title>My Grievances</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="getGrievances($event, true)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <p padding class="grayed-out" *ngIf="!myGrievances">
    You have not registered any grievance. Tap the '+' button to add one.
  </p>
  <div *ngIf="myGrievances">
      <ng-container *ngFor="let grievance of myGrievances; let i = index;">
      <ion-card color="{{getGrievanceColor(grievance)}}"  (click)="goToGrievance(grievance)" >
          <ion-card-header>{{grievance.Date}}
            <button ion-button style="float:right" icon-only small color="light" clear (click)="toggleControls(i);$event.stopPropagation()">
              <ion-icon *ngIf="!checkExpanded(i)" name="ios-arrow-down"></ion-icon>
              <ion-icon *ngIf="checkExpanded(i)" name="ios-arrow-up"></ion-icon>
            </button>
          </ion-card-header>
          <ion-card-content>
            {{grievance.Text}}
            <ion-row *ngIf="checkExpanded(i)" class="cardFooter">
                <ion-col text-center>
                  <button ion-button clear color="light" icon-left (click)="deleteGrievance(grievance.UniqueId);$event.stopPropagation();">
                    <ion-icon name="trash" ></ion-icon>
                    Delete
                  </button>
                </ion-col>
                <ion-col text-center>
                  <button ion-button clear color="light" icon-left (click)="escalateGrievance(grievance.UniqueId);$event.stopPropagation();">
                    <ion-icon name="md-megaphone"></ion-icon>
                    Escalate
                  </button>
                </ion-col> 
              </ion-row>
          </ion-card-content>
        </ion-card>
      </ng-container>
  </div>
  

  <ion-fab right bottom #fab padding>
      <button ion-fab color="light"><ion-icon name="add"></ion-icon></button>
      <ion-fab-list side="top">
        <button (click)="addGrievancePage('issue')" color="primary" ion-fab><ion-icon name="notifications"></ion-icon></button>
        <button (click)="addGrievancePage('grievance')" color="orange" ion-fab><ion-icon name="chatbubbles"></ion-icon></button>
        <button (click)="addGrievancePage('suggestion')" color="secondary" ion-fab><ion-icon name="bulb"></ion-icon></button>
        <button (click)="addGrievancePage('complaint')" color="danger" ion-fab><ion-icon name="mail"></ion-icon></button>
      </ion-fab-list>
    </ion-fab>
</ion-content>