<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Add a Grievance</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-row>
    <ion-col>
      <ion-card color="primary" text-center (click)="addGrievance('issue')">
        
        <ion-card-content>
            <ion-icon name="notifications" style="font-size: 100px"></ion-icon>
        </ion-card-content>
        <ion-card-title>
            Issue
          </ion-card-title>

      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card color="orange" text-center (click)="addGrievance('grievance')">
        
        <ion-card-content>
            <ion-icon name="chatbubbles" style="font-size: 100px"></ion-icon>

        </ion-card-content>
        <ion-card-title>
            Grievance
          </ion-card-title>

      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card color="secondary" text-center (click)="addGrievance('suggestion')">
        
        <ion-card-content>
            <ion-icon name="bulb" style="font-size: 100px"></ion-icon>

        </ion-card-content>
        <ion-card-title>
            Suggestion
          </ion-card-title>

      </ion-card>
    </ion-col>
    <ion-col> 
      <ion-card color="danger" text-center (click)="addGrievance('complaint')">
        
        <ion-card-content>
            <ion-icon name="mail" style="font-size: 100px"></ion-icon>

        </ion-card-content>
        <ion-card-title>
            Complaint
          </ion-card-title>

      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
