
<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Change Server</ion-label>
      <ion-select [(ngModel)]="server">
        <ion-option value="http://localhost:54131/">LocalHost</ion-option>
        <ion-option value="http://10.1.50.138:97/">LocalRelease</ion-option>
        <ion-option value="http://liventus.azurewebsites.net/">Azure</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>


</ion-content>
<ion-footer>
  <button ion-button full (click)="saveSettings()">Save</button>
</ion-footer>