<ion-menu [content]="content">
    <ion-toolbar>
        <ion-title>LTS Grievances</ion-title>
    </ion-toolbar>
    <ion-list>
        <button ion-item menuClose (click)="goToMyGrievances()">My Grievances</button>
        <button ion-item menuClose (click)="goToAddGrievance()">Add Grievance</button>
        <button ion-item menuClose *ngIf="role == 'admin'" (click)="goToAddGrievance()">Admin</button>
        <button ion-item menuClose (click)="goToOCRDemo()">OCR Demo</button>
        <button ion-item menuClose (click)="goToCalendar()">Calendar</button>
        <button ion-item menuClose (click)="goToGps()">GPS</button>
        <button ion-item menuClose (click)="goToPayments()">Payments</button>
    </ion-list>
    <ion-footer> 
        <ion-list>
            <button ion-item icon-left menuClose (click)="goToSettings()"><ion-icon name="settings"></ion-icon>Settings</button>
        </ion-list>
        <p padding> 
            &copy; Liventus Technology Services - 2018
        </p>
    </ion-footer>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>