<ion-header>

  <ion-navbar>
    <ion-title>OCR</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col>
      <button ion-button outline (click)="onTakePicture()" block>
        Open Camera
      </button>
    </ion-col>
    <ion-col>
      <button ion-button outline (click)="onSelectImage()" block>
        Gallery
      </button>
    </ion-col>
  </ion-row> 

  <ion-row>
    <ion-col>
      <img *ngIf="image" [src]="image">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
        <button ion-button (click)="onRecognizeImage()" block *ngIf="image">
            Recognize Image
          </button>
    </ion-col>
  </ion-row>

  <ion-card *ngIf="imageText">
    <ion-card-title padding>
      Image Text<button ion-button icon-only clear style="float:right; margin-top: -3px;" (tap)="onCopyToClipboard()"><ion-icon name="copy" ></ion-icon></button>
    </ion-card-title>
    <ion-card-content>
      {{imageText}} 
    </ion-card-content>
  </ion-card>

</ion-content>