
<ion-header>

  <ion-navbar>
    <ion-title>Calendar</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <button ion-button outline block (click)="onScheduleEvent()">Create Event</button>
    <button ion-button outline block (click)="onEncryptFile()">Encrypt</button>
    <button ion-button outline block (click)="onDecryptFile()">Decrypt</button> 
    <button ion-button outline block (click)="onReadFile()">Read File</button>  
</ion-content>
