<ion-header>

  <ion-navbar>
    <ion-title>Tracking Information</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button 
  ion-button 
  outline color="secondary" 
  (click)="onListCoordinates()"
  block>Show All Coordinates</button>

  <button 
  ion-button 
  outline color="secondary" 
  (click)="onSaveCoordinates()"
  block>Save Coordinates</button>
  <button 
  ion-button 
  outline color="secondary" 
  (click)="onShowTrackingInformation()"
  block>Tracking Information</button>
  <button 
  ion-button 
  outline color="secondary" 
  (click)="onPostLocation()"
  block>Post Location</button>
  <button 
  ion-button 
  outline color="secondary" 
  (click)="onStopTracking()"
  block>Stop Tracking</button>
  <button 
  ion-button 
  outline color="secondary" 
  (click)="onStartTrackingLocation()"
  block>Start Tracking</button>
  <ng-container *ngIf="locations">
    <ion-list *ngFor="let location of locations">
      Name: {{location.username}} | Coordinates: {{location.coordinates}}
    </ion-list>
  </ng-container>
</ion-content>
